.welcome-phrase{
    font-size: xx-large;
    font-style: italic;
    color:green;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 2%;
  }
  @media screen and (max-width:400px) {
    .welcome-phrase{
      font-size: large;
    }
  }