.list-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.list-header{
    background-color: black;
    color: white;
    font-size: xx-large;
    text-transform: uppercase;
}
.list{
    flex: 1;
    overflow-y: scroll;
    padding: 10px 1%;
}
.list-item{
    background-color: lightgrey;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 1%;
}
.list-item>div:nth-child(1){
    font-size: x-large;
    font-weight: bolder;
}
.menu-items{
    padding: 2% 3%;
    border-radius: 10px;
    color: white;
    font-style: italic;
    background-color:dimgray;
    margin-top:5px
}
.back{
    margin-right: 5px;
    background-color: red;
    padding: 0px 10px;
    font-size: xx-large;
    border: 0;
    border-right: 1 px solid darkgrey;
    text-transform: capitalize;
}